<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @username. %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @username.phone_number %>
</p>

<%= link_to 'Edit', edit_username_path(@username) %> |
<%= link_to 'Back', usernames_path %>
